.message-inputter{
    position: absolute;
    bottom: 5px;
    margin: 10px;
    width: calc(100% - 20px);
}

.message-inputter form{
    display: flex;
    justify-content: space-around;
}

.message-inputter input{
    padding: 10px 14px;
    font-size: 16px;
    border-radius: 4px;
    width: calc(80% - 30px);
    margin-right: 10px;
    box-sizing: border-box;
    border: none;
    outline-width: 1px;
    outline-color: rgb(77, 77, 255);
}

.message-inputter button{
    color: white;
    padding: 10px 0 10px 0;
    font-size: 16px;
    border: none;
    outline: none;
    width: 20%;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #428aca;
}

::placeholder{
    font-size: 14px;
}

@media screen and (max-width: 600px) {
    .message-inputter form{
        flex-direction: column;
        justify-content: center;
    }
    .message-inputter button{
        margin-top: 10px;
        width: 50%;
        min-width: 100px;
    }
    .message-inputter input{
        width: 100%;
    }
}