.user-data{
    display: flex;
    height: 173px;
    font-family: inherit;
}

.user-data .avatar{
    width: 173px;
    height: 173px;
}

.avatar img{
    height: 100%;
}

.user-data .content{
    padding: 21px 38px 0 21px;
    background-color: #bdcad9;
}

.content .name{
    font-size: 24px;
    font-weight: 600;
}

.content .description{
    font-size: 14px;
    margin-top: 7px;
}