.messages-list{
    position: absolute;
    width: calc(100% - 10px);
    box-sizing: border-box;
    height: calc(100% - 210px);
    bottom: 75px;
    overflow: auto;
    padding: 0 20px 7px;
    margin-right: 10px;
}

.seen-tracker{
    padding: 5px;
    font-size: 15px;
    text-align: center;
    color: gray;
}